{% extends 'base.html.twig' %}

{% block title %}Advanced form!{% endblock %}

{% block body %}

<h1>Enquire form</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col" id="some-custom-id">
            {{ form_row(form.title, {'label': 'Message title'}) }}
        </div>
        <div class="col">
            {{ form_row(form.text) }}
        </div>
        <div class="col" id="some-custom-id">
            <div>{{ form_label(form.authorEmail, 'Email', {'label_attr': {'class': 'foo'}}) }}</div>
            <div>{{ form_widget(form.authorEmail) }}</div>
            <div>{{ form_help(form.authorEmail) }}</div>
            <div>{{ form_errors(form.authorEmail) }}</div>
        </div>

        <p>And the other fields:</p>
    </div>
{{ form_end(form) }}

{% endblock %}